@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    overflow-x: hidden;
}

:root {
    --pink: #ff1493;
    --max-width: 800px;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

.nav {
    background-color: var(--pink);
    padding: 1rem;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-links ul a,
.nav-logo a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
}

.nav-links ul li.active a {
    color: #000;
}

.nav-links ul a:hover,
.nav-logo a:hover  {
    color: rgba(255, 255, 255, 0.5);
}

.hero {
    height: calc(100vh - 54.5px);
    background-color: #c4c4c4;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-footer {
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform : translateX(-50%);
    width: 100%;
}

.hero-footer-text {
    text-transform: uppercase;
    text-align: center;
}

.hero-text h1 {
    color: var(--pink);
    font-size: 60px;
}

.hero-text h3 {
    color: #fff;
    font-size: 40px;
}

.image-banner {
    padding: 5rem 2rem;
    display: flex;
    width: 100vw;
}

.panel.image-1 {
    background: url('/static/imgs/im_4.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.panel.image-2 {
    background: url('/static/imgs/im_5.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.panel.image-3 {
    background: url('/static/imgs/im_6.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    overflow: hidden;
}

.panel.active {
    flex: 2.5;
}

.home-text {
    padding: 0 2rem;
}

.left {
    position: relative;
    width: 60%;
    left: 0;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.socials a i {
    overflow: hidden;
    padding: 1rem;
    color: white;
    background-color: var(--pink);
    border-radius: 50%;
    margin: 20px;
}

.socials a i:hover {
    color: black;
    transform: scale(1.15);
    overflow: hidden;
}

.footer .container {
    background-color: black;
}

.grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.profile-card {
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 80%;
    overflow: hidden;
    object-fit: cover;
}

.profile-name {
    text-align: center;
    text-transform: uppercase;
}

.title-page {
    height: 50vh;
    background-color: #c4c4c4;
}

.title-page {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.riders-container h1,
.runners-container h1 {
    padding: 2rem 0;
    text-align: center;
}

.hor-line {
    height: 2px;
    width: 92%;
    background-color: black;
    margin: 0 auto;
}

.contact-title {
    background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80');
    background-position: center center;
    background-size: cover;
}

.contact-title::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.contact-title h1 {
    position: absolute;
    color: white;
}

.home-title {
    background-image: url('https://images.unsplash.com/photo-1570882278095-3d4a187d9aab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2167&q=80');
    background-position: center center;
    background-size: cover;
}

.home-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.form-btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightgrey;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.form-btn:focus {
    outline: 0;
}

.form-btn:active {
    transform: scale(0.95);
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    z-index: 10;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: black;
    transform: translateY(-30px);
}

.form-container {
    background-color: lightgrey;
    color: #fff;
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}

.inner-form-container {
    background-color: var(--pink);
    padding: 20px 40px;
    border-radius: 5px;
}
