{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' type='image/x-icon' %}">
    <title>Base Template</title>
    {% include 'base/css.html' %}
    {% block base_head %}{% endblock %}
</head>
    <body>
        {% include 'base/navbar.html' %}    

        {% block content %}{% endblock %}


        {% include 'base/js.html' %}

        {% block javascript %}{% endblock %}

    </body>

    {% include 'base/footer.html' %}
</html>